<%inherit file="base.htm" />

<%block name = "centerContent">
	<div><br>
		<h1 class="clear">Welcome to the Colonial Heritage Foundation Web Application</h1>
		<br>
		<div class="panel panel-primary">
        <div class="panel-heading">
         <h3 class="panel-title">What is the Colonial Heritage Foundation?</h3>
        </div>
        <div class="panel-body">
        The Colonial Heritage Foundation (the Foundation) is a 501(c)(3) corporation dedicated to the preservation of the values, culture, skills and history of America's founding. To accomplish this mission, the Foundation engages in a broad array of activities. Among these are the development and presentation of educational exhibits, the coordination of reading and discussion groups to encourage the study of America's historical writings, the presentation of lectures and seminars regarding America's founding era, the coordination of historical reenactments and skill demonstrations, and the coordination of internships and apprenticeships that teach the occupational skills of early America
        </div>
        </div>
        <form action="Post">
            <input type="text" id="id_username"/>
            <span id="id_username_message"></span>
        </form>
    </div>
	
 </%block>