<%inherit file="base.htm" />

<html>
<head>

</head>
<body>
    <%block name="centerContent">
        <div class="page-header">
            <h1> Overdue Rental Items <small></small></h1>
        </div>
##        <a href="/homepage/user.create/" class="btn btn-warning" style="margin-bottom: 10px">Create New User</a>
        <table id="overdue_rental_table" class="table table-bordered table-hover">
            <tr>
                <th> Rented Item </th>
                <th> Customer </th>
                <th> Customer's Phone Number </th>
                <th> Date Due </th>
                <th> Replacement Price </th>
            </tr>

            %for overdue_rental in overdue_rentals:
                <tr>
                    <td>${ overdue_rental.rental_product.product_specification.name}</td>
                    <td>${ overdue_rental.order.customer.first_name }</td>
                    <td>${ overdue_rental.order.customer.phone }</td>
                    <td>${ overdue_rental.date_due }</td>
                    <td>${ overdue_rental.rental_product.replacement_price }</td>
                </tr>
            %endfor
        </table>
    </%block>
</body>
</html>